{%extends "authentication/base.html"%}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="login-form" method="post">
                <section class="login-form-container" >
                        <h1 class="text-center">Pedalpal</h1>
                        <div style="text-align: center;">
                        <i class="fa-solid fa-bicycle fa-7x" style="color:#b40c0cf3;"></i></div>
                     <div class="container">
                         <div class="row">
                             <div class="col-md-6">
                                <form method="POST" action="">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                      <span>Email: </span> <input type="email" name="email" placeholder="Email ..." class="form-control" style="width:300px">
                                    </div>
                                    <div class="mb-3">
                                      Password:  <input type="password" name="password" placeholder="Password ..." class="form-control" style="width:300px">
                                    </div>
                                      <input type="submit" value="login" class="btn btn-secondary mb-3">
                                      <p>Don't have an account? <a href="{% url 'register' %}" style="display:inline">Sign up</a></p>
                                </form>
                             </div>
                         </div>
                     </div>
                   
                </section>
            </form>
        </div>
    </div>

</div>
{% endblock %}
